MONGODB_URI=mongodb://localhost:27017/cargoconnect
PORT=3000

# JWT
JWT_SECRET=YOUR-JWT_SECRET
JWT_EXPIRATION=7d

# JWT refresh token 
JWT_REFRESH_SECRET=YOUR-JWT-REFRESH-SECRET
JWT_REFRESH_EXPIRATION=30d


# Email - Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=5*********4
SMTP_PASSWORD=a********0
SMTP_FROM=noreply@cargoconnect.com

# App
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001
